body {
	background-color: black;
}

.parent {
	/* background: radial-gradient(rgb(32, 31, 31), black); */
	display: grid;
	grid-template-columns: repeat(3, 150px);
	grid-template-rows: repeat(3, 150px);
	width: 450px;
	height: 450px;
	margin: 10% 30%;
	
 }

.elem1 {
	display: flex;
	border: 8px solid rgb(39, 10, 165);
	color: rgb(33, 228, 147);
	justify-content: center;
	align-items: center;
	font: 140px Arial;	
	font-stretch: expanded;

 }

.delBorder1 {
	border-top: none;
 }
.delBorder2 {
	border-left: none;
}
.delBorder3 {
	border-right: none;
}
.delBorder4 {
	border-bottom: none;
}
